{% extends "base.html" %}

{% block head %}
  <script src="/js/gears_init.js"></script>
  <script src="/js/geo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/json.js"></script>
{% end %}


{% block body %}
  
  <script type="text/javascript">
    
    window.onload = getCurrentLocation;
    
    function getCurrentLocation() {
      if (geo_position_js.init()) {
        document.getElementById("location").innerHTML = "Locating…";
        geo_position_js.getCurrentPosition(
          geo_success, 
          geo_error, 
          { maximumAge: 75000 }
        ); 
      }
    }
    
    function geo_success(location) {
      document.getElementById("location").innerHTML = "Location: " + location.coords.latitude + "," + location.coords.longitude;
      getGraphDataAroundLocation(location.coords.latitude, location.coords.longitude);
    }
    
    function geo_error(error) {
      document.getElementById("location").innerHTML = "Unknown location";
      if (error.code != 1) {
        alert("Could not find you!");
      }
    }
    
    function getGraphDataAroundLocation(latitude, longitude) {
      // prepare query
      var params = {
        "latitude": latitude,
        "longitude": longitude,
        "date": new Date().getTime() / 1000,
      };
      // get graph data
      document.getElementById("nodes").innerHTML = "Reading nodes…";
      downloadUrl("/graph/data" + buildQueryString(params), "GET", null, function(response) {
        // data ready
        response = JSON.parse(response);
        console.log(response);
        document.getElementById("nodes").innerHTML = "Nodes: " + response.data.length;
      });
    }
    
  </script>
  
  <div id="me">
    ciao: {{ current_user.name }}
  </div>
  <div id="location"></div>
  <div id="nodes"></div>
  
{% end %}