{% extends "base.html" %}

{% block head %}
{% end %}


{% block body %}

  <p id="wait">updating your things...</p>
  <form id="data" action="/graph/data" method="post">
    {{ xsrf_form_html() }}
  </form>
  
  <div id="fb-root"></div>
  <script src="/js/json.js"></script>
  <script>
    
    var pending_requests = 4;
    
    function saveResponse(key, value) {
      form = document.getElementById("data");
      field = document.createElement("input");
      field.setAttribute("type", "hidden");
      field.setAttribute("name", key);
      
      var jsonString = value.toJSONString();
      field.setAttribute("value", escape(jsonString));
      form.appendChild(field);
      
      pending_requests --;
      if (pending_requests <= 0) {
        form.submit();
      }
    }
    
    function updateThings() {
      var updated_at = {{ current_user.updatedAtInUnixFormat() }};
      
      <!-- upadate info -->
      FB.api('/me', function(response) {
        saveResponse("info", response);
      });

      <!-- upadate likes -->
      FB.api('/me/likes', { 'since': updated_at, 'fields': 'name,picture,category' }, function(response) {
        saveResponse("likes", response.data);
      });

      <!-- upadate events -->
      FB.api('/me/events', { 'since': updated_at, 'fields': 'name,start_time,end_time,location,venue,privacy,picture' }, function(response) {
        saveResponse("events", response.data);
      });

      <!-- upadate places -->
      FB.api('/me/checkins', { 'since': updated_at }, function(response) {
        saveResponse("places", response.data);
      });
    }
    
    window.fbAsyncInit = function() {
      FB.init({appId: '{{ options.facebook_app_id }}', status: true, cookie: true, xfbml: true});
      FB.getLoginStatus(function(response) {
        if (response.session && response.perms) {
          // user authentication is valid
          updateThings();
        } else {
          // user is not authenticated anymore
          window.location = "/logout";
        }
      }, true);
    };
    
    (function() {
      var e = document.createElement('script');
      e.type = 'text/javascript';
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
      
  </script>
  
{% end %}