{% extends "base.html" %}

{% block body %}

  <div id="fb-root"></div>
  <script>
  
    window.fbAsyncInit = function() {
      FB.init({
        appId: '{{ options.facebook_app_id }}', 
        status: true,
        cookie: true, 
        xfbml: true
      });
      
      FB.getLoginStatus(function(response) {
        if (response.session && response.perms) {
          // session is valid
          window.location = "/auth?redirect=1";
        } else {
          // show login button
          document.getElementById("login").style.visibility = "visible";
        }
      }, true);
      FB.Event.subscribe('auth.login', function(response) {
        // logged
        window.location = "/auth?redirect=1";
      });
    };
    (function() {
      var e = document.createElement('script');
      e.type = 'text/javascript';
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  
  <div id="login" style="visibility:hidden">
    <fb:login-button perms="{{ options.facebook_permissions }}"></fb:login-button><br />
    to find what you like around you.
  <div>
  
{% end %}